* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
}

.topbar {
  background-color: #000000;
  padding: 10px 0;
  color: #fff;
}
.topbar p {
  margin: 0vh 0vw 0vh 6vw;
  display: inline-block;
  font-size: 14px;
}
.topbar p > i {
  margin-right: 5px;
}
.topbar p:last-child {
  text-align: right;
  padding: 0vh 0vw 0vh 60vw;
}

.header {
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  padding: 7vh 0vw 0vh 3vw;
  background: transparent;
  display: flex;
  align-items: flex-start;
  z-index: 100;
  transition: 0.5s;
}
.navbar {
  padding: 6vh 0vw 0vh 15vw;
}
.navbar a {
  justify-content: space-between;
  font-size: 20px;
  font-weight: bolder;
  position: relative;
  margin-right: 40px;
}

.header img {
  width: 22vw;
  height: 23.8vh;
}

.icons {
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
  padding: 5vh 2vw 0 22vw;
}

#darkMode-icon {
  padding: 0vh 2vw 0vh 0vw;
  cursor: pointer;
  font-weight: bolder;
  cursor: pointer;
}

#cart-icon {
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 18vh 0vw 7vh 4vw;
}

.h-para {
  height: 37vh;
  width: 51vw;
  color: #333;
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 11vh;
}

.home-content .food {
  color: #eb5757;
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
}

.moto {
  height: 12vh;
  width: 34vw;
  color: #333;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 4vh;
}

.Dec-image .eating-food {
  height: 56vh;
  width: 40vw;
}

.login-button {
  font-size: 20px;
  padding: 1vh 2vw;
  background-color: #eb5757;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  /* box-shadow: 0 .2rem .5rem  */
  border: 0.2rem solid transparent;
  transition: 0.9 ease;
}

.login-button:hover {
  background-color: #0056b3; /* New background color on hover */
  color: #fff;
}

.down {
  background-color: #ead7f7;
  margin-top: 4vh;
  width: auto;
  height: 31vh;
  padding-left: 5vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.d-c1 {
  height: auto;
  width: auto;
  padding: 2vh 7vw 0vh 3vw;
}

.down-img {
  width: 6vw;
  height: 11vh;
}

.down-p {
  font-size: 15px;
  font-weight: bolder;
  color: #7f14e3;
  font-style: italic;
  padding: 4vh 0px 0px 0px;
  width: 29vw;
  height: 10vh;
}

.s-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vh;
}

#insta-icon {
  color: red;
  font-size: 25px;
  margin-right: 4vh;
}

#f-icon {
  color: skyblue;
  font-size: 25px;
  margin-right: 4vh;
}

#t-icon {
  color: skyblue;
  font-size: 25px;
  margin-right: 4vh;
}

#l-icon {
  color: skyblue;
  font-size: 25px;
  margin-right: 4vh;
}

.d-c2 {
  height: auto;
  width: 25vw;
  padding: 2vh 0vw 0vh 3vw;
}

.i-p {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.tag {
  display: flex;
  flex-direction: column;
}

.tag a {
  font-size: 15px;
  line-height: 5vh;
  font-weight: lighter;
}

.d-c3 {
  height: auto;
  width: auto;
  padding: 2vh 8vw 0vh 5vw;
  line-height: 5vh;
}

.feed {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.feed-p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#inputBar {
  width: 18vw;
  padding: 5px;
  font-size: 16px;
  border-radius: 60px;
  border: 1px solid #bdbdbd;
}
/* .bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: auto;
  width: auto;
  padding: 7vh 0vw 0vh 3vw;
  background: transparent;
  display: flex;
  align-items: flex-start;
  z-index: 100;
  transition: 0.5s;
} */
/* .img{
  width: 1vw;
  height: 1vh;
} */
/* .important-links{
  display: flex;
  flex-direction: column;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
